In [11]:
import os
import pandas as pd
from datetime import timedelta
from timeit import default_timer as timer
import pyspark

# Changed to "Program Files (x86) >> Progra~2"
os.environ["JAVA_HOME"] = "C:\Progra~2\Java\jre1.8.0_201"
pd_df = pd.read_csv("./listings.csv")

In [12]:
print(pd_df)

             id                                               name    host_id  \
0        197677                          Oshiage Holiday Apartment     964081
1        776070                             Kero-kero house room 1     801494
2        899003                  Classy room @Shinjuku, Takadanoba    4799233
3       1016831     WOMAN ONLY LICENSED ! Cosy & Cat behnd Shibuya    5596383
4       1033276                           private room @Senju area    5686404
...         ...                                                ...        ...
11303  48245895                                有民宿许可、新宿駅徒歩圏、有付费停车位   49474412
11304  48248681                         【宿家】千束町 浅草 酉の市 鷲神社の裏にある一軒家  176875986
11305  48248916              新宿Shinjuku-ku 4bedroom豪华公寓， 新大久保駅徒歩２分   43826309
11306  48258253  Near to Sensoji  Temple.Japanese traditional h...   34415001
11307  48260803      STUDIO APARTMENT in GREAT LOCATION / SHINJUKU  165921683

             host_name  neighbourhood_group neighbourhood  latitude  \
0      Yoshimi & Marek                  NaN     Sumida Ku  35.71721
1                  Kei                  NaN       Kita Ku  35.73844
2                   Yu                  NaN   Shinjuku Ku  35.70865
3               Wakana                  NaN   Setagaya Ku  35.65833
4               Yukiko                  NaN     Adachi Ku  35.74253
...                ...                  ...           ...       ...
11303             Dong                  NaN   Shinjuku Ku  35.69420
11304           Yadoya                  NaN      Taito Ku  35.72089
11305             Momo                  NaN   Shinjuku Ku  35.70376
11306            Cheng                  NaN      Taito Ku  35.71585
11307            Tokyo                  NaN   Shinjuku Ku  35.69769

       longitude        room_type  price  minimum_nights  number_of_reviews  \
0      139.82596  Entire home/apt  11000               3                165
1      139.76917     Private room   7428               3                228
2      139.69681  Entire home/apt   5200              30                 93
3      139.67153     Private room  11000               1                211
4      139.79730     Private room  30000               1                 72
...          ...              ...    ...             ...                ...
11303  139.69182  Entire home/apt   5000               2                  0
11304  139.79126  Entire home/apt  10309               1                  0
11305  139.70007  Entire home/apt  28000               1                  0
11306  139.79975  Entire home/apt  20000               3                  0
11307  139.70470  Entire home/apt   2271               1                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
0      2020-03-04               1.44                               1
1      2020-01-18               2.27                               1
2      2019-11-25               0.95                               2
3      2020-03-16               2.19                               1
4      2018-06-17               0.76                               2
...           ...                ...                             ...
11303         NaN                NaN                               8
11304         NaN                NaN                              35
11305         NaN                NaN                              22
11306         NaN                NaN                               5
11307         NaN                NaN                               8

       availability_365
0                   328
1                   146
2                     0
3                   139
4                   271
...                 ...
11303               292
11304                 0
11305               178
11306               132
11307                 0

[11308 rows x 16 columns]

In [15]:
sc = pyspark.SparkContext.getOrCreate(pyspark.SparkConf().setMaster("local[*]"))
spark = pyspark.sql.SparkSession.builder.getOrCreate()
schema = pyspark.sql.types.StructType([
    pyspark.sql.types.StructField("id", pyspark.sql.types.StringType(), True),
    pyspark.sql.types.StructField("last_review", pyspark.sql.types.StringType(), True)
])
sp_df = spark.createDataFrame(pd_df)

TypeError: field last_review: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.types.DoubleType'>

In [ ]:
print(sp_df)