## Extracting from DB with SQL, Pandas

**To install the library:**   
`$ pip install -U pandasql`

In [1]:
test

NameError: name 'test' is not defined

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/woowahan/Documents/Python/DS_Ext_School/tutorial_01/doc_use_log.csv")\
       .sample(frac=0.01, replace=False)

In [3]:
df.head()

,actiontype,ismydoc,ext,sessionid,documentposition,datetime
182499,SAVEAS,False,PDF,316df629ed386a15ed38e43b068c1307,MYPOLARISDRIVE,2016.7.13
164444,CLOSE,False,XLS,bb20d603f5fe6aa772b714d1aaf9d569,OTHERAPP,2016.7.8
86459,OPEN,True,XLS,0c403ea1f3d55f4b78b9ebd9a3260a44,MYPOLARISDRIVE,2016.7.1
176710,CLOSE,False,PPT,9a91fef5d688b553b11d6949f380a596,OTHERAPP,2016.7.3
293665,CLOSE,False,PDF,80738dfb91b164c3a33267fb1b50120d,OTHERAPP,2016.7.21

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3019 entries, 182499 to 55376
Data columns (total 6 columns):
actiontype          3019 non-null object
ismydoc             3019 non-null bool
ext                 3019 non-null object
sessionid           3019 non-null object
documentposition    3019 non-null object
datetime            3019 non-null object
dtypes: bool(1), object(5)
memory usage: 144.5+ KB

### About Pandasql
Reference: http://blog.yhat.com/posts/pandasql-sql-for-pandas-dataframes.html    

> locals() vs. globals()
pandasql needs to have access to other variables in your session/environment. You can pass locals() to pandasql when executing a SQL statement, but if you're running a lot of queries that might be a pain. To avoid passing locals all the time, you can add this helper function to your script to set globals() like so:

In [6]:
from pandasql import *

In [7]:
q = """
    SELECT * 
      FROM df 
     WHERE ext = 'PDF'
       AND ismydoc = '0'
     LIMIT 10
    """

In [8]:
print sqldf(q, locals()).to_string()

  actiontype  ismydoc  ext                         sessionid documentposition   datetime
0     SAVEAS        0  PDF  316df629ed386a15ed38e43b068c1307   MYPOLARISDRIVE  2016.7.13
1      CLOSE        0  PDF  80738dfb91b164c3a33267fb1b50120d         OTHERAPP  2016.7.21
2      CLOSE        0  PDF  1bace3075a04934096aa110d332c8fe6         OTHERAPP  2016.7.27
3      CLOSE        0  PDF  c0800885a2201ee0300673e94a913121         OTHERAPP   2016.7.4
4      CLOSE        0  PDF  b5c9d522bef9c8e5a28cc8f6580302d3         OTHERAPP  2016.7.24
5      CLOSE        0  PDF  3baf27ea8290e7de73d7de4199690165         OTHERAPP  2016.7.28
6       OPEN        0  PDF  6403c9a9808c7c817946b61b204bb469         OTHERAPP  2016.7.14
7       OPEN        0  PDF  c0640249f6ecb200a7123fd44e914a19         OTHERAPP  2016.7.28
8      CLOSE        0  PDF  cba6eabce936cc291d1cd39522dd54cb         OTHERAPP  2016.7.24
9      CLOSE        0  PDF  13711047a8b6959d2d25d35afd6f4971         OTHERAPP  2016.7.17

In [9]:
# pandas
df[(df['ext'] == 'PDF') & (df['ismydoc'] == 0)].head(10)

,actiontype,ismydoc,ext,sessionid,documentposition,datetime
182499,SAVEAS,False,PDF,316df629ed386a15ed38e43b068c1307,MYPOLARISDRIVE,2016.7.13
293665,CLOSE,False,PDF,80738dfb91b164c3a33267fb1b50120d,OTHERAPP,2016.7.21
201595,CLOSE,False,PDF,1bace3075a04934096aa110d332c8fe6,OTHERAPP,2016.7.27
79003,CLOSE,False,PDF,c0800885a2201ee0300673e94a913121,OTHERAPP,2016.7.4
252284,CLOSE,False,PDF,b5c9d522bef9c8e5a28cc8f6580302d3,OTHERAPP,2016.7.24
33347,CLOSE,False,PDF,3baf27ea8290e7de73d7de4199690165,OTHERAPP,2016.7.28
119773,OPEN,False,PDF,6403c9a9808c7c817946b61b204bb469,OTHERAPP,2016.7.14
61612,OPEN,False,PDF,c0640249f6ecb200a7123fd44e914a19,OTHERAPP,2016.7.28
124006,CLOSE,False,PDF,cba6eabce936cc291d1cd39522dd54cb,OTHERAPP,2016.7.24
153204,CLOSE,False,PDF,13711047a8b6959d2d25d35afd6f4971,OTHERAPP,2016.7.17

In [10]:
# aggregation
q = """
    SELECT ext,
           count(ext) as count,
           count(distinct sessionid) as unq_sess
      FROM df
     GROUP BY ext
     ORDER BY count DESC
     """

In [11]:
print sqldf(q, locals()).to_string()

     ext  count  unq_sess
0    PDF    819       816
1   DOCX    553       547
2   XLSX    512       506
3    HWP    266       263
4    XLS    255       254
5    DOC    229       228
6   PPTX    177       175
7    TXT    103       102
8    PPT     58        58
9   PPSX     34        34
10   ODT      9         9
11   PPS      4         4

In [12]:
# pandas
df.groupby("ext").agg({"ext": "count", "sessionid": "nunique"})\
  .rename(columns={"ext": "ext_cnt", "sessionid": "session_cnt"}).sort_values("ext_cnt", ascending=False).reset_index()

     ext  ext_cnt  session_cnt
0    PDF      819          816
1   DOCX      553          547
2   XLSX      512          506
3    HWP      266          263
4    XLS      255          254
5    DOC      229          228
6   PPTX      177          175
7    TXT      103          102
8    PPT       58           58
9   PPSX       34           34
10   ODT        9            9
11   PPS        4            4

In [13]:
# Join
ios = pd.read_csv("/Users/woowahan/Documents/Python/DS_Ext_School/tutorial_01/ios.csv")

ios.head()

    idx                         sessionid flag
0  1331  b8a35b63d65e36fcbcf7284db362fa06  iOS
1  1335  ab9ea758f63a61463efa059c7183b976  iOS
2  1383  401e95152f65bcd9573bb1707967e82a  iOS
3  1385  7891c7016850ccca28b54b3f8f0c554e  iOS
4  1387  dd16321402b19a3f20261e6905e4e9bf  iOS

In [14]:
ios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
idx          100 non-null int64
sessionid    100 non-null object
flag         100 non-null object
dtypes: int64(1), object(2)
memory usage: 2.4+ KB

In [15]:
len(ios.sessionid)

100

In [16]:
len(ios.sessionid.unique())

100

In [17]:
df.head()

,actiontype,ismydoc,ext,sessionid,documentposition,datetime
182499,SAVEAS,False,PDF,316df629ed386a15ed38e43b068c1307,MYPOLARISDRIVE,2016.7.13
164444,CLOSE,False,XLS,bb20d603f5fe6aa772b714d1aaf9d569,OTHERAPP,2016.7.8
86459,OPEN,True,XLS,0c403ea1f3d55f4b78b9ebd9a3260a44,MYPOLARISDRIVE,2016.7.1
176710,CLOSE,False,PPT,9a91fef5d688b553b11d6949f380a596,OTHERAPP,2016.7.3
293665,CLOSE,False,PDF,80738dfb91b164c3a33267fb1b50120d,OTHERAPP,2016.7.21

In [18]:
## select only ios log data
# duplicate check of ios table
q = """SELECT
            count(sessionid) as session_all_cnt,
            count(distinct sessionid) as session_uniq_cnt
        FROM ios
     """

In [19]:
print sqldf(q, locals())

   session_all_cnt  session_uniq_cnt
0              100               100

In [20]:
## join and select ios via flag col
q = """SELECT
            A.*, 
            B.flag
        FROM df A
            LEFT JOIN 
            (
            SELECT sessionid, flag
            FROM ios
            ) B
            ON A.sessionid = B.sessionid
        WHERE B.flag = 'iOS'    
     """

In [21]:
print sqldf(q, locals()).to_string()

  actiontype  ismydoc   ext                         sessionid documentposition   datetime flag
0      CLOSE        0  XLSX  09aa9ed23214b104a85837a339a226ca         OTHERAPP  2016.7.13  iOS

In [22]:
# with pandas
df.merge(ios, on="sessionid", how="left")\
  .query("flag =='iOS'")\
  .drop('idx', axis=1)

,actiontype,ismydoc,ext,sessionid,documentposition,datetime,flag
2450,CLOSE,False,XLSX,09aa9ed23214b104a85837a339a226ca,OTHERAPP,2016.7.13,iOS

### Question 1
- df 테이블의 Action Type 값(항목)별 유니크한 세션수는? 
- 유니크 세션수 기준으로 내림차순 정렬하기

### Question 2   
- ismydoc이 1(True)인 경우에 한해, 날짜별 세션수의 유니크 빈도 구하기
- 유니크 빈도가 가장 큰 top 5 날짜 확인하기

### Question 3
- 문서 포지션별(documentposition)로 자주 OPEN 되는 확장자(ext)를 확인하기
- 카운트 기준: unique sessionid
- 그룹별, 세션카운트 기준 desc 정렬

### 정답

In [23]:
q = """
    SELECT actiontype,
           count (distinct sessionid) as session_cnt_uniq
      FROM df
     GROUP BY actiontype
     ORDER BY session_cnt_uniq DESC
     """

In [24]:
print sqldf(q, locals()).to_string()

    actiontype  session_cnt_uniq
0         OPEN              1511
1        CLOSE              1245
2         SAVE               103
3        RESET                88
4       SAVEAS                58
5       EXPORT                 1
6  EXPORT_SAME                 1

In [25]:
# with pandas
df.groupby("actiontype")['sessionid'].nunique().sort_values(ascending=False).reset_index()

    actiontype  sessionid
0         OPEN       1511
1        CLOSE       1245
2         SAVE        103
3        RESET         88
4       SAVEAS         58
5  EXPORT_SAME          1
6       EXPORT          1

In [26]:
q = """
    SELECT datetime,
           count (distinct sessionid) as session_cnt_uniq
      FROM df
     WHERE ismydoc = '1'
     GROUP BY datetime
     ORDER BY session_cnt_uniq DESC
     LIMIT 5
    """

In [27]:
print sqldf(q, locals()).to_string()

    datetime  session_cnt_uniq
0  2016.7.19                55
1   2016.7.1                52
2  2016.7.14                52
3  2016.7.25                51
4  2016.7.13                50

In [28]:
# with pandas
df.query("ismydoc == '1'").groupby("datetime")['sessionid'].nunique().sort_values(ascending=False).head(5).reset_index()

    datetime  sessionid
0  2016.7.19         55
1   2016.7.1         52
2  2016.7.14         52
3  2016.7.25         51
4  2016.7.13         50

In [29]:
df.head()

,actiontype,ismydoc,ext,sessionid,documentposition,datetime
182499,SAVEAS,False,PDF,316df629ed386a15ed38e43b068c1307,MYPOLARISDRIVE,2016.7.13
164444,CLOSE,False,XLS,bb20d603f5fe6aa772b714d1aaf9d569,OTHERAPP,2016.7.8
86459,OPEN,True,XLS,0c403ea1f3d55f4b78b9ebd9a3260a44,MYPOLARISDRIVE,2016.7.1
176710,CLOSE,False,PPT,9a91fef5d688b553b11d6949f380a596,OTHERAPP,2016.7.3
293665,CLOSE,False,PDF,80738dfb91b164c3a33267fb1b50120d,OTHERAPP,2016.7.21

In [30]:
q = """
    SELECT documentposition,
           ext,
           COUNT (DISTINCT sessionid) as session_cnt_uniq
      FROM df
     WHERE actiontype = 'OPEN' 
     GROUP BY documentposition, ext
     ORDER BY documentposition, session_cnt_uniq DESC
     """

In [31]:
print sqldf(q, locals()).to_string()

   documentposition   ext  session_cnt_uniq
0      LOCALSTORAGE  XLSX                19
1      LOCALSTORAGE  DOCX                13
2      LOCALSTORAGE   HWP                12
3      LOCALSTORAGE   XLS                11
4      LOCALSTORAGE   PDF                 9
5      LOCALSTORAGE   TXT                 7
6      LOCALSTORAGE  PPTX                 6
7      LOCALSTORAGE   DOC                 4
8      LOCALSTORAGE   PPT                 3
9      LOCALSTORAGE   PPS                 1
10   MYPOLARISDRIVE   PDF                62
11   MYPOLARISDRIVE  XLSX                55
12   MYPOLARISDRIVE  DOCX                52
13   MYPOLARISDRIVE   HWP                22
14   MYPOLARISDRIVE  PPSX                17
15   MYPOLARISDRIVE   TXT                16
16   MYPOLARISDRIVE   XLS                16
17   MYPOLARISDRIVE   DOC                12
18   MYPOLARISDRIVE  PPTX                10
19   MYPOLARISDRIVE   PPT                 8
20      NEWDOCUMENT  DOCX                21
21      NEWDOCUMENT  XLSX                 8
22      NEWDOCUMENT   HWP                 7
23      NEWDOCUMENT  PPTX                 6
24         OTHERAPP   PDF               371
25         OTHERAPP  DOCX               190
26         OTHERAPP  XLSX               167
27         OTHERAPP   DOC                95
28         OTHERAPP   HWP                89
29         OTHERAPP   XLS                87
30         OTHERAPP  PPTX                58
31         OTHERAPP   TXT                31
32         OTHERAPP   PPT                20
33         OTHERAPP   ODT                 2
34         OTHERAPP   PPS                 1
35         OTHERAPP  PPSX                 1
36       OTHERCLOUD  XLSX                 4
37       OTHERCLOUD  DOCX                 1
38       OTHERCLOUD   PDF                 1
39       OTHERCLOUD   XLS                 1

In [32]:
# with pandas
df.query("actiontype == 'OPEN'").groupby(['documentposition', 'ext'])['sessionid'].count().unstack().fillna(0)

ext,DOC,DOCX,HWP,ODT,PDF,PPS,PPSX,PPT,PPTX,TXT,XLS,XLSX
documentposition,,,,,,,,,,,,
LOCALSTORAGE,4.0,13.0,12.0,0.0,9.0,1.0,0.0,3.0,6.0,7.0,11.0,19.0
MYPOLARISDRIVE,12.0,52.0,22.0,0.0,62.0,0.0,17.0,8.0,10.0,16.0,16.0,55.0
NEWDOCUMENT,0.0,21.0,7.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,8.0
OTHERAPP,95.0,190.0,89.0,2.0,372.0,1.0,1.0,20.0,58.0,31.0,87.0,167.0
OTHERCLOUD,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0