## Json Parsing

In [2]:
import json
import pandas as pd

data= []
mydf = pd.DataFrame()

# to parse json files
with open('/Users/woowahan/Documents/Python/DS_Ext_School/tutorial_01/ds_tutorial_json.json') as f:
    for line in f:
        data.append(json.loads(line))
        
    # convert json to df
    for i in range(0, len(data)):
        df = pd.DataFrame.from_dict([data[i]])
        mydf = mydf.append(df)
        
# reset index
mydf.reset_index(drop=True, inplace=True)

In [3]:
mydf.head()

      area        date event group memno  screen  ver
0    seoul  1511947418  view     a  1101   intro  0.1
1    taegu  1511947418  view     a  1101   intro  0.2
2  gyenggi  1511947418  view     b  1102  detail  0.2
3    seoul  1511947418   clk     b  1102  detail  0.2
4    seoul  1511947418   clk     c  1102    main  0.2

In [4]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
area      120 non-null object
date      120 non-null object
event     120 non-null object
group     120 non-null object
memno     120 non-null object
screen    120 non-null object
ver       120 non-null object
dtypes: object(7)
memory usage: 6.6+ KB

In [5]:
mydf['date'] = pd.to_datetime(mydf['date'], unit='s').dt.date
mydf['date'] = mydf['date'].astype('datetime64[ns]')

In [6]:
mydf.head()

      area       date event group memno  screen  ver
0    seoul 2017-11-29  view     a  1101   intro  0.1
1    taegu 2017-11-29  view     a  1101   intro  0.2
2  gyenggi 2017-11-29  view     b  1102  detail  0.2
3    seoul 2017-11-29   clk     b  1102  detail  0.2
4    seoul 2017-11-29   clk     c  1102    main  0.2

In [7]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
area      120 non-null object
date      120 non-null datetime64[ns]
event     120 non-null object
group     120 non-null object
memno     120 non-null object
screen    120 non-null object
ver       120 non-null object
dtypes: datetime64[ns](1), object(6)
memory usage: 6.6+ KB